@model List<string>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">List of Books</h1>
</div>
<p>These are all the books reviewed on this site:</p>

@foreach (string title in Model)
{
    <p>
        <em class="m-3">@title</em>
        <br />
    </p>
}