@model Review
@{
    ViewData["Title"] = "Books";
}

<form method="post">
    <label asp-for="BookTitle">Title</label>
    <input asp-for="BookTitle" /><br />
    <label asp-for="Reviewer.Name">Reviewer</label>
    <input asp-for="Reviewer.Name" /><br />
    <button type="submit">Submit</button>

</form>
<h2>Your Review</h2>
<p>
    Title: 
    @Model.BookTitle
    Reviewer: 
    @Model.Reviewer.Name
</p>